/*****

Global Variables

*****/
* {
    primary-color: #616161;
    light-primary-color: #8e8e8e;
    dark-primary-color: #373737;
    text-primary-color: #ffffff;

    secondary-color: #33691e;
    light-secondary-color: #629749;
    dark-secondary-color: #003d00;
    text-secondary-color: #ffffff;

    text-field-height: 30px;
    button-height: 29px;
    table-header-height: 30px;
}

.root * {
    -fx-font-family: "Helvetica";
}

/*****

ChoiceBoxes

*****/
.choice-box {
    -fx-pref-height: button-height;
    -fx-min-height: button-height;
    -fx-max-height: button-height;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: dark-primary-color;
    -fx-background-color: dark-primary-color;
    -fx-background-radius: 0 2 2 0;
    -fx-border-radius: 0 2 2 0;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,1), 10, 0, 0, 0);
}

.choice-box .context-menu {
    -fx-text-fill: text-primary-color;
    -fx-background-color: dark-primary-color;
}

.choice-box > .label {
    -fx-text-fill: text-primary-color;
}
.choice-box .menu-item > .label {
    -fx-text-fill: text-primary-color;
}

/*****

DatePickers

*****/
.date-picker {
    -fx-background-insets: 0;
}

.date-picker .text-field {
    -fx-text-fill: text-primary-color;
    -fx-pref-height: text-field-height;
    -fx-min-height: text-field-height;
    -fx-max-height: text-field-height;
    -fx-background-color: dark-primary-color;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,1), 10, 0, 0, 0);
}

/*****

Tables

*****/
.table-view *.increment-button,
.table-view *.decrement-button,
.table-view *.increment-arrow,
.table-view *.decrement-arrow {
    -fx-padding: 0;
    -fx-shape: "";
}

.table-view {
    -fx-background-color: dark-primary-color;
    -fx-padding: 0 0 0 0;
}

.roundTable {
    -fx-background-radius: 2 2 2 2;
    -fx-border-radius: 2 2 2 2;
}

.table-view .column-header {
    -fx-background-color: light-primary-color;
    -fx-pref-height: table-header-height;
    -fx-min-height: table-header-height;
    -fx-max-height: table-header-height;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: dark-primary-color;
}

.table-view .column-header-background {
    -fx-background-color: primary-color;
}

.table-view .appDescCol {
    -fx-background-radius: 2 0 0 0;
    -fx-border-radius: 2 0 0 0;
    -fx-border-width: 1 0 1 1;
}

.table-view .appDateCol {
    -fx-background-radius: 0 2 0 0;
    -fx-border-radius: 0 2 0 0;
    -fx-border-width: 1 1 1 0;
}

.table-view .mainCol {
    -fx-background-radius: 2 2 0 0;
    -fx-border-radius: 2 2 0 0;
}

.table-view .column-header .label {
    -fx-text-fill: text-primary-color;
    -fx-font-weight: normal;
}

#appointmentTable .column-header .label {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 5;
}

.table-view .table-cell {
    -fx-text-fill: text-primary-color;
}

#appointmentTable .table-cell {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 5;
}

.table-view .table-row-cell {
    -fx-background-color: dark-primary-color;
}

.table-view .table-row-cell:selected {
    -fx-background-color: light-primary-color;
}

/*****

Separators

*****/
.separator *.line { 
    -fx-border-style: solid;
    -fx-border-width: .5px;
    -fx-border-color: dark-primary-color;
}

/*****

Labels

*****/
.label * {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 15, 0, 0, 0);
}

.mainLabels {
    -fx-font-size: 20pt;
    -fx-text-fill: text-primary-color;
}

.secondaryLabels {
    -fx-font-size: 10pt;
    -fx-text-fill: text-primary-color;
}

/*****

Panes

*****/
.mainPanes {
    -fx-background-color: primary-color;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 33, 0, 0, 0);
}

.backgoundPanes {
    -fx-background-color: dark-primary-color;
}

/*****

Buttons

*****/
.toggle-button,
.button,
.button:hover {
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: dark-primary-color;
}

.toggle-button .text,
.button .text {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 15, 0, 0, 0);
}

.transparentButtons {
    -fx-background-color: transparent;
    -fx-text-fill: text-secondary-color;
}

.secondaryButtons {
    -fx-background-color: secondary-color;
    -fx-text-fill: text-secondary-color;
    -fx-pref-height: button-height;
    -fx-min-height: button-height;
    -fx-max-height: button-height;
}

.mainButtons {
    -fx-background-color: light-secondary-color;
    -fx-text-fill: text-secondary-color;
    -fx-pref-height: button-height;
    -fx-min-height: button-height;
    -fx-max-height: button-height;
}

.reportButtons {
    -fx-background-color: light-secondary-color;
    -fx-text-fill: text-secondary-color;
}

.calendarToggleButtons {
    -fx-background-color: dark-primary-color;
    -fx-text-fill: text-primary-color;
    -fx-pref-height: button-height;
    -fx-min-height: button-height;
    -fx-max-height: button-height;
}

.calendarToggleButtons:selected,
.calendarToggleButtons:disabled {
    -fx-background-color: light-primary-color;
    -fx-opacity: 1.0;
}

#monthToggleButton {
    -fx-background-radius: 2 0 0 0;
    -fx-border-radius: 2 0 0 0;
    -fx-border-width: 1 1 0 1;
    
}

#weekToggleButton {
    -fx-background-radius: 0 2 0 0;
    -fx-border-radius: 0 2 0 0;
    -fx-border-width: 1 1 0 1;
}

.calendarButtons {
    -fx-background-color: light-primary-color;
    -fx-text-fill: text-primary-color;
    -fx-pref-height: button-height;
    -fx-min-height: button-height;
    -fx-max-height: button-height;
}

.leftCalendarButton,
.leftCalendarButton:hover {
    -fx-background-radius: 0 0 0 2;
    -fx-border-radius: 0 0 0 2;
    -fx-border-width: 1 0 1 1;
}

.rightCalendarButton,
.rightCalendarButton:hover {
    -fx-background-radius: 0 0 2 0;
    -fx-border-radius: 0 0 2 0;
    -fx-border-width: 1 1 1 0;
}

.centerCalendarButton,
.centerCalendarButton:hover {
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 1 0 1 0;
}


/*****

Text Fields

*****/
.text-field {
    -fx-text-fill: text-primary-color;
    -fx-pref-height: text-field-height;
    -fx-min-height: text-field-height;
    -fx-max-height: text-field-height;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: dark-primary-color;
}

.rightTextField {
    -fx-background-color: dark-primary-color;
    -fx-background-radius: 0 2 2 0;
    -fx-border-radius: 0 2 2 0;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,1), 10, 0, 0, 0);
}

.leftTextField {
    -fx-background-color: light-primary-color;
    -fx-background-radius: 2 0 0 2;
    -fx-border-radius: 2 0 0 2;
}

.leftTextField .text {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 15, 0, 0, 0);
}