/****************
    All Views   
****************/
* {
    primary-color: #455a64;
    light-primary-color: #718792;
    dark-primary-color: #1c313a;
    secondary-color: #2e7d32;
    light-secondary-color: #60ad5e;
    dark-secondary-color: #005005;
    text-primary-color: #ffffff;
    text-secondary-color: #ffffff;
    -fx-font-family: "Verdana";

}

.mainLabels {
    -fx-font-size: 20pt;
    -fx-text-fill: text-primary-color;
}

.secondaryLabels {
    -fx-font-size: 10pt;
    -fx-text-fill: text-secondary-color;
}

.mainPanes {
    -fx-background-color: primary-color;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 100, 0, 0, 0);
}

.backgoundPanes {
    -fx-background-color: dark-primary-color;
}

.separator *.line { 
-fx-border-style: solid;
-fx-border-width: .5px;
-fx-border-color: light-primary-color;

}

.transparentButtons {
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-background-color: primary-color;
    -fx-text-fill: text-secondary-color;
}

.secondaryButtons {
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-background-color: dark-secondary-color;
    -fx-text-fill: text-primary-color;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 2.5, 0, 0, 0);
}

.mainButtons {
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-background-color: secondary-color;
    -fx-text-fill: text-secondary-color;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 2.5, 0, 0, 0);
}