/*
    All Views
*/
* {
    dark-primary-color: #455A64;
    default-primary-color: #607D8B;
    light-primary-color: #CFD8DC;
    text-primary-color: #FFFFFF;
    accent-color: #9E9E9E;
    primary-text-color: #212121;
    secondary-text-color: #757575;
    divider-color: #BDBDBD;
}

.root {
    -fx-font-family: "Verdana";
}


/*
    Launch Panes:
        LoginView.fxml
        NewUserView.fxml
*/
.launchPane {
    -fx-background-color: dark-primary-color;
}

.launchForm {
    -fx-background-color: light-primary-color;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 100, 0, 0, 0);
}

.launchFormField {
    -fx-background-color: divider-color, light-primary-color;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-min-height: 35;
    -fx-prompt-text-fill: secondary-text-color;
}

.launchMainButton {
    -fx-background-color: dark-primary-color;
    -fx-text-fill: text-primary-color;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0, 0, 0);
    -fx-min-height: 25;
    -fx-min-width: 100;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
}

.launchSecondaryButton {
    -fx-background-color: light-primary-color;
    -fx-text-fill: secondary-text-color;
    -fx-min-height: 15;
}

#newUserButton {
    -fx-background-color: light-primary-color;
    -fx-text-fill: secondary-text-color;
    -fx-min-height: 15;
}


/*
    Main Pane (first layer):
        MainView.fxml
*/
.mainPane {
    -fx-background-color: dark-primary-color;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1.5), 20, 0, 0, 0);
}

#mainLabel {
    -fx-font-size: 20pt;
    -fx-text-fill: text-primary-color;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1.5), 10, 0, 0, 0);
}

.mainButton {
    -fx-background-color: dark-primary-color;
    -fx-text-fill: text-primary-color;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0, 0, 0);
    -fx-background-radius: 2 0 0 2;
    -fx-font-size: 15;
}

.mainButton:selected {
    -fx-background-color: default-primary-color;
}

#logoutButton {
    -fx-background-color: dark-primary-color;
    -fx-text-fill: text-primary-color;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0, 0, 0);
    -fx-min-height: 30;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-font-size: 15;
}


/*
    Secondary Panes (second layer):
        CalendarView.fxml
        CustomersView.fxml
        ReportsView.fxml
*/
.secondaryPane {
    -fx-background-color: default-primary-color;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1.5), 20, 0, 0, 0);
}

.secondaryButton {
    -fx-background-color: default-primary-color;
    -fx-text-fill: text-primary-color;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0, 0, 0);
    -fx-background-radius: 2 0 0 2;
    -fx-font-size: 15;
}

.secondaryButton:selected{
    -fx-background-color: light-primary-color;
    -fx-text-fill: primary-text-color;
}


/*
    Sub Panes (third layer):
        MonthSubView.fxml
*/
.subPane {
    -fx-background-color: light-primary-color;
    /*-fx-effect: dropshadow(gaussian, rgba(0,0,0,1.5), 20, 0, 0, 0);*/
}

#monthLabel {
    -fx-background-color: default-primary-color;
    -fx-text-fill: text-primary-color;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 50, 0, 0, 0);
    -fx-min-height: 20;
    -fx-pref-height: 20;
    -fx-max-height: 20;
    -fx-min-width: 100;
    -fx-pref-width: 100;
    -fx-max-width: 100;
    -fx-background-radius: 0;
    -fx-font-size: 10;
}

.paginationButton {
    -fx-background-color: default-primary-color;
    -fx-text-fill: text-primary-color;
    -fx-min-height: 19;
    -fx-pref-height: 19;
    -fx-max-height: 19;
    -fx-min-width: 23;
    -fx-pref-width: 23;
    -fx-max-width: 23;
    -fx-font-size: 10;
}

.paginationButton:focused {
    -fx-min-height: 20;
    -fx-pref-height: 20;
    -fx-max-height: 20;
}

#leftPaginationButton {
    -fx-background-radius: 2 0 0 2;
}

#rightPaginationButton {
    -fx-background-radius: 0 2 2 0;
}

#calendarPane {
    -fx-background-color: default-primary-color;
}

#calendarGridPane Line {
    -fx-stroke: light-primary-color;
}