/****************
    All Views   
****************/
* {
    primary-color: #1b5e20;
    light-primary-color: #4c8c4a;
    dark-primary-color: #003300;
    secondary-color: #006064;
    light-secondary-color: #428e92;
    dark-secondary-color: #00363a;
    text-primary-color: #ffffff;
    text-secondary-color: #ffffff;
    -fx-font-family: "Verdana";

}

.mainLabels {
    -fx-font-size: 20pt;
    -fx-text-fill: text-primary-color;
}

.secondaryLabels {
    -fx-font-size: 10pt;
    -fx-text-fill: text-secondary-color;
}

.mainPanes {
    -fx-background-color: primary-color;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 100, 0, 0, 0);
}

.backgoundPanes {
    -fx-background-color: dark-primary-color;
}

.separator *.line { 
-fx-border-style: solid;
-fx-border-width: .5px;
-fx-border-color: text-secondary-color;

}

.transparentButtons {
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-background-color: primary-color;
    -fx-text-fill: text-secondary-color;
}

.secondaryButtons {
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-background-color: light-secondary-color;
    -fx-text-fill: text-primary-color;
}

.mainButtons {
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-background-color: secondary-color;
    -fx-text-fill: text-secondary-color;
}